/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MY CSS */
/*BACKGROUND*/
body {
    font: 30px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    color: #776e65;
    background-color: #faf8ef;
}

    #mainContainer {
    margin: 75px auto;
    }
    #game-matrix {
        width: 40%;
        margin: 0 auto;
        background-color: #bbada0; /*#776e65*/
        border-radius: 10px;
    
        /*display: table;
      table-layout: fixed;*/
        border-collapse: separate; /* instead of 'collapse' so that I can use border-spacing:*/
        border-spacing: 10px;
    }

        #game-matrix tr {
                width: 100%;
            }
        #game-matrix td {
            background-color: #cdc1b4;
            border-radius: 5px;
        }

/* HIGHT = WIDTH, THERE SHOULD BE ANOTHER BLOCK .CONTENT IN IT */
.box {
    position: relative;
    width: 25%; /* DESIRED WIDTH */
}

    .box:before {
        content: "";
        display: block;
        padding-top: 100%; /* INITIAL RATIO OF 1:1 */
    }

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* CENTERS THE NUMBERS IN THE SQUARES */
    display: flex;
    justify-content: center; /* AALIGN HORIZONTAL */
    align-items: center; /* ALIGN VERTICAL */
}


/* MEDIA QUERIES */
@media (max-width: 800px) {
    #game-matrix {
        width: 80%;
    }
}














/* TABLE STYLE*/