@model Game2048.Models.GameBoardViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div id="mainContainer">
    <form method="post">
        <table id="gameBoard" class="table table-hover-cells table-responsive">
            <tbody>

                @for (int i = 0; i < Model.BoardSize; i++)
                {
                    <tr class="row">
                        @for (int j = 0; j < Model.BoardSize; j++)
                        {
                            <td class="cell">
                                @if (@Model.Matrix[i, j] != 0)
                                {
                                    @Model.Matrix[i, j]
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <!--
    <form action="">
        First name: <input type="text" id="txt1" onkeyup="showHint(this.value)">
    </form>
    <p>Suggestions: <span id="txtHint"></span></p>
    <script>
        function showHint(str) {
            var xhttp;
            if (str.length == 0) {
                document.getElementById("txtHint").innerHTML = "";
                return;
            }
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("txtHint").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "gethint.asp?q=" + str, true);
            xhttp.send();
        }
    </script>-->
    <!--
    <div class="Rtable Rtable--4cols">

        <div class="Rtable-cell"><h3>Eddard Stark</h3></div>
        <div class="Rtable-cell">Has a sword named Ice</div>
        <div class="Rtable-cell">No direwolf</div>
        <div class="Rtable-cell"><strong>Lord of Winterfell</strong></div>

        <div class="Rtable-cell"><h3>Jon Snow</h3></div>
        <div class="Rtable-cell">Has a sword named Longclaw</div>
        <div class="Rtable-cell">Direwolf: Ghost</div>
        <div class="Rtable-cell"><strong>Knows nothing</strong></div>

        <div class="Rtable-cell"><h3>Arya Stark</h3></div>
        <div class="Rtable-cell">Has a sword named Needle</div>
        <div class="Rtable-cell">Direwolf: Nymeria</div>
        <div class="Rtable-cell"><strong>No one</strong></div>

    </div>-->



</div>

<button type="submit" onclick="SwipeUp()">up</button>
<button type="submit" onclick="SwipeDown()">down</button>
<button type="submit" onclick="SwipeLeft()">left</button>
<button type="submit" onclick="SwipeRight()">right</button>
<!--add ajax func that call the GM swipe func-->


<!--
<!DOCTYPE html>
<html>
<body>

    <h1>The XMLHttpRequest Object</h1>

    <p id="demo">Let AJAX change this text.</p>

    <button type="button" onclick="loadDoc()">Change Content</button>

    <script>
        function loadDoc() {
            var xhttp;
            if (window.XMLHttpRequest) {
                // code for modern browsers
                xhttp = new XMLHttpRequest();
            } else {
                // code for IE6, IE5
                xhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = "asdasd";
                }
            };
            xhttp.open("GET", "ajax_info.txt", true);
            xhttp.send();
        }
    </script>

</body>
</html>
-->
<!--<div class="form-group">
    <input type="submit" value="New Game" class="btn btn-default" />
</div>-->
<!--<div class="form-group">
    <input type="submit" value="SaveGame" class="btn btn-default" />
</div>-->
