@model Game2048.Models.GameBoardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper mainContainer">

    @{await Html.RenderPartialAsync("_GameBoard", Model);} <!--Html.RenderPartial-->

    <div class="buttons">
        <button type="submit" class="button swipe-up swipe" value="up">up</button>
        <br />
        <button type="submit" class="button swipe-left swipe" value="left">left</button>
        <button type="submit" class="button swipe-right swipe" value="up"right">right</button>
        <br />
        <button type="submit" class="button swipe-down swipe" value="down"">down</button>
    </div>

</div>
















<!--<button onclick="myFunction()">Click me</button>

<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";
    }
</script>

<p id="demo"></p>-->


<!--add ajax func that call the GM swipe func------------------------------->
<!--
<!DOCTYPE html>
<html>
<body>

    <h1>The XMLHttpRequest Object</h1>

    <p id="demo">Let AJAX change this text.</p>

    <button type="button" onclick="loadDoc()">Change Content</button>

    <script>
        function loadDoc() {
            var xhttp;
            if (window.XMLHttpRequest) {
                // code for modern browsers
                xhttp = new XMLHttpRequest();
            } else {
                // code for IE6, IE5
                xhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = "asdasd";
                }
            };
            xhttp.open("GET", "ajax_info.txt", true);
            xhttp.send();
        }
    </script>

</body>
</html>
-->
<!--<div class="form-group">
    <input type="submit" value="New Game" class="btn btn-default" />
</div>-->
<!--<div class="form-group">
    <input type="submit" value="SaveGame" class="btn btn-default" />
</div>-->
